body{
    background: #fff
}
.headingDiv{
    text-align: center;
}
.inputDiv{
    text-align: center;
}
.addButton{
    color:#fff;
    font-size: 2em;
    background: rgb(221, 16, 105);
    outline: none;
    border-radius: 50%;
    border: 0px;
    padding: 0 10px;
}